body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
  }
  
  header {
    background-color: #1e90ff;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  section {
    padding: 2rem;
  }
  
  .place {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }
  
  .place img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #1e90ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4682b4;
  }
  .button-group {
    display: flex;
    justify-content: center; /* ปุ่มจะอยู่ตรงกลาง */
    gap: 10px; /* ระยะห่างระหว่างปุ่ม */
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  